*{
  margin : 10px;
  padding : 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
  color: white;
}
.app-container{
  max-width: 400px;
  height: auto;
  background-color:black ;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 15px;
  padding-bottom: 15px ;
}

.meme-container{
 display: flex;
 align-items:centre;
 flex-direction: column;
}
.memeLOGO{
  height:90px ;

}
.navbar{
  display: flex;
  align-items:centre ;
  justify-content:space-between;
  background-color:#2e2e2e;
  padding:6px  33px;
  width: 100%;
}

.title{
  font-size:18px ;
  font-weight:bold ;
  color: #fabd05;
}

.input-field{
  display: flex;
  align-items: centre;
  justify-content:space-evenly;
  flex-wrap: wrap;
  margin: 18px 8px;

}

input{
padding: 10px;
font-size: 15px;
width: 180px;
border: none;
outline: none;
background-color: white;
color:black;
margin:9px 6px;
border-radius:9px;
}

::placeholder {
color:black ;
}
input:focus{
  outline: 2px solid yellow;
  color:black;

}

.generateBTN{
  margin: 20px;
  padding: 0px;
  background-color:yellow;
  color:black;
  font-weight:bold;
  padding:12px 9px;
  border-radius:9px;
  margin: left calc(30%);
  margin-bottom: 12px;
}

.generateBTN:active{
background-color:#f7c12a;
}

.imageMEME{
 max-width: 315px;
 border-radius:9px;
 border:2px solid white;
}

.firstline{
  color: black;
}
.secondline{
  color: black;
}


